<!doctype html>
<html lang="en">

<head>
    <title>ChatBot</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <header class="masthead clearfix">

                </header>

                <main role="main" class="inner cover">
                    <h1>Support Office</h1>
                    </br>
                    <textarea id="outPut" style="width:100%;
                            height:400px;
                            background-color:rgb(248, 248, 248);
                            color:rgb(56, 56, 56);
                            border: 2px solid #ffffff;
                            border-radius: 10px;
                            padding:2%;
                            font:22px/30px sans-serif;
                            overflow: auto;
                            resize: none;
                            font-stretch: expanded;
                            box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
                            " READONLY></textarea>
                    <form id="chatInput">
                        <input type="text" id="userInput" style="border-radius: 10px;
                            width:80%;
                            height:50px;
                            background-color:rgb(248, 248, 248);
                            color:rgb(56, 56, 56);
                            border: 2px solid #ffffff;
                            box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
                            font:22px/30px sans-serif;
                            font-stretch: expanded;
                            ">
                        <input type="submit" value="Send" class="btn btn-lg btn-secondary">
                    </form>




                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

                    <script>
                        var url_string = window.location.href;
                        var url = new URL(url_string);
                        var name = url.searchParams.get("name");
                        $('#outPut').append('Eliza: Welcome ' + name + ', I\'ve been looking forward to meeting you. My name is Eliza, how are you feeling today?' + '\n\n');


                        $("#chatInput").submit(function(event) {
                            event.preventDefault(); // prevents default action of the submit button
                            //Ajax implementation 
                            //sends a request to our webApp.go with the users input
                            //prints user: followed by the users input and Chatbot: followed by the webApp.go response
                            //this gives us a live chat function without the need to refresh the page.
                            jQuery.get('/user-input', {
                                value: $('#userInput').val()
                            }).done(function(data) {
                                $('#outPut').append(name + ': ' + $('#userInput').val() + '\n\n');
                                $('#outPut').append("Eliza: " + data + '\n\n');
                                $('#outPut').scrollTop($('#outPut')[0].scrollHeight);
                                $('#userInput').val("")
                            })
                        });
                    </script>

</body>

</html>